<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Raphael">

  <title>MeeApp - DigiLabs</title>

  <!-- Bootstrap Core CSS -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}"  rel="stylesheet" type="text/css" >
  
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="{{url_for('static',filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" >
  

  <link rel="stylesheet" href= "{{url_for('static',filename='css/stylish-portfolio.min.css') }}" >
  
  

</head>

<body id="home">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#home">Menu</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#home">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1 text-white">DigiPhotos</h1>
      <h3 class="mb-5 text-white">
        <em>Welcome to DigiLabs</em>
      </h3>
      <a class="btn btn-info btn-xl js-scroll-trigger" href="#about">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>This Is a Stylish Digital Lab Site for Free Stock Photos</h2>
          <p class="lead mb-5">This Stocks  are flexible, and can be used for photoshop more at
            <a href="https://pexels.com/" target="_blank">Pexels</a>!</p>
          <a class="btn btn-success btn-xl js-scroll-trigger" href="#services">Services we Offer</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-danger text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">What We Offer</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fas fa-desktop"></i>
          </span>
          <h4>
            <strong>Responsive</strong>
          </h4>
          <p class="text-faded mb-0">Looks great on any screen size!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fab fa-adobe"></i>
          </span>
          <h4>
            <strong>Redesigned</strong>
          </h4>
          <p class="text-faded mb-0">Freshly designed for Photoshop.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fas fa-heart"></i>
          </span>
          <h4>
            <strong>Favorited</strong>
          </h4>
          <p class="text-faded mb-0">Millions of UI's
            <i class="fas fa-heart"></i>
            Start  with Digilabs!</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5 text-light">Welcome to the Next Big Thing!</h2>
      
    </div>
  </section>

  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item">
            <span class="caption">
              <span class="caption-content">
                
                <p class="mb-0">A Touch of Red!</p>
              </span>
            </span>
            <img class="img-fluid" src="{{url_for('static',filename='img/me.jpg')}}" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" >
            <span class="caption">
              <span class="caption-content">
                
                <p class="mb-0">Man of the Day</p>
              </span>
            </span>
            <img class="img-fluid" src="{{url_for('static',filename='img/mike.jpg')}}" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" >
            <span class="caption">
              <span class="caption-content">
                
                <p class="mb-0">A female Programmer</p>
              </span>
            </span>
            <img class="img-fluid" src="{{url_for('static',filename='img/girl.jpg') }}" alt="">
            
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" >
            <span class="caption">
              <span class="caption-content">
                
                <p class="mb-0">The King Of Electronics.</p>
              </span>
            </span>
            <img class="img-fluid" src="{{url_for('static',filename='img/pages.jpg')}}" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="content-section bg-danger text-white">
    <div class="container text-center">
      <h2 class="mb-4">The buttons below are impossible to resist...</h2>
      <a href="#" class="btn btn-xl btn-light mr-4">Click Me!
        <i class="far fa-smile-wink"></i>
      </a>
      <a href="#" class="btn btn-xl btn-dark">Check me out!
        <i class="far fa-kiss-wink-heart"></i>
      </a>
    </div>
  </section>

  <!-- Map -->
  <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4066049.278450288!2d-0.1869644!3d5.6037168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf6a808e1f4ded%3A0x99aadb13dad56b87!2sKoforidua+Technical+University!5e0!3m2!1sen!2sgh!4v1563456714781!5m2!1sen!2sgh"></iframe>
    <small>
      <a href="https://www.google.com/maps/place/Koforidua+Technical+University/@5.6037168,-0.1869644,7z/data=!4m5!3m4!1s0xfdf6a808e1f4ded:0x99aadb13dad56b87!8m2!3d6.0645664!4d-0.2628136"></a>
    </small>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
          <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="mailto:ralphmensah123@gmail.com? subject=MeeApp">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://web.facebook.com/ralphmensah123">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/iam_freakie">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/freakie123">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; DigiLabs 2019</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#home">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{url_for('static',filename='js/stylish-portfolio.min.js') }}"></script>

  <!--Photo by ATC Comm Photo from Pexels-->
  

</body>

</html>
